@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel
@namespace MenuProject.Modals

@if ( User is null )
	return;

<root class=@PlayerClasses>

	<img class="avatar" src="avatar:@User.SteamId" />
	<div class="name">@User.DisplayName</div>

	@if (IsHost)
	{
		<i>dns</i>
	}
	else if (IsFriend)
	{
		<i>group</i>
	}

	<div class="divider" />

	<span>
		<i>signal_cellular_alt</i>
		<label class="ping">@User.Ping</label>
	</span>
</root>

@code
{
	public Connection User { get; set; }
	public bool IsHost { get; set; }
	public bool IsFriend { get; set; }

	public string PlayerClasses
	{
		get
		{
			if ( IsFriend ) return "is-friend";
			if ( IsHost ) return "is-host";
			return "";
		}
	}

	Friend friend;
	Popup menu;

	protected override void OnAfterTreeRender( bool firstTime )
	{
		if ( firstTime )
		{
			friend = new Friend( User.SteamId );

			IsFriend = friend.IsFriend;
			IsHost = Connection.Host.Equals( User );
		}
	}

	protected override int BuildHash()
	{
		if ( User is null ) return 0;
		return HashCode.Combine( User.SteamId, User.Ping );
	}

	protected override void OnRightClick( MousePanelEvent e )
	{
		if (menu.IsValid())
		{
			menu.Delete();
			return;
		}

		menu = new Popup(this, Popup.PositionMode.UnderMouse, 0);

		//
		// Options
		//

		menu.AddOption("View Profile", () => friend.OpenInOverlay());

		//
		// Anything below is for non-local players
		//

		if (friend.IsMe)
		{
			return;
		}

		if (!friend.IsFriend)
		{
			menu.AddOption("Send Friend Request", () => friend.OpenAddFriendOverlay());
		}

		//
		// Host options
		//

		if (!Networking.IsHost)
		{
			return;
		}

		menu.AddOption("Kick", "", () => User.Kick("Kicked"));
	}

	protected override void OnClick(MousePanelEvent e)
	{
		friend.OpenInOverlay();
	}
}
