@namespace MenuProject.Modals
@inherits MenuProject.Modals.BaseModal

@using Sandbox;
@using Menu;
@using System;
@using Sandbox.Modals;
@using Sandbox.DataModel;

<root>
	<div class="window">

		<div class="header">
			<i>people</i>
			<label class="title">Player List</label>
		</div>

		<div class="content">
			<div class="list">
				@foreach ( var user in Connection.All.OrderBy( x => x.DisplayName ) )
				{
					<PlayerListRow User=@user />
				}
			</div>
		</div>
	</div>
</root>

@code
{
	protected override int BuildHash()
	{
		//
		// Update player list every second
		//
		return HashCode.Combine( RealTime.Now.CeilToInt() );
	}
}
