@inherits Sandbox.UI.Panel
@using Menu;
@using Sandbox;
@using Sandbox.UI;
@namespace MenuProject

@if (Entry == null)
    return;

<ListCard Image=@Entry.Package.Thumb Title=@Entry.Package.Title>
    <Bottom>
        <column>
            <row>
                <row>
                    <icon class="eyebrow">apps</icon>
                    <label class="eyebrow mine">@Entry.Unlocked</label>
                    <label class="eyebrow">of</label>
                    <label class="eyebrow total">@Entry.Total</label>
                </row>

                <separator class="vertical" />

                <row>
                    <icon class="eyebrow">emoji_events</icon>
                    <label class="eyebrow mine">@Entry.Score</label>
                    <label class="eyebrow">of</label>
                    <label class="eyebrow total">@Entry.TotalScore</label>
                </row>
            </row>
            <Progress Value=@Entry.Unlocked Max=@Entry.Total></Progress>
        </column>
    </Bottom>
</ListCard>

@code {

    public Sandbox.Services.AchievementOverview Entry;

    protected override void OnMouseDown(MousePanelEvent e)
    {
        Entry.Package.OpenModal();
    }

}
