@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox;
@using System;
@namespace Sandbox.UI
@inherits Panel

<div>
    <VerticalGameList Query=@Query />
</div>

@code {
    [Property] public string Title { get; set; }
    [Property] public string Icon { get; set; }
    [Property] public string Query { get; set; }
}
