@import "/styles/_theme.scss";

VerticalGameList {
    gap: 12px;
    flex-direction: column;
    transition: opacity 300ms $easing;

    &.inactive {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
    }

    .games {
        gap: 6px;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
