@using System;
@using MenuProject.MenuUI.Components
@using Sandbox.UI;
@using Sandbox;
@using Menu;
@inherits Panel;


<root>

    <column onmouseup="@OnPressLink">
        <row>
            @if ( Entry.Player is not null )
            {
                <Avatar UserId=@Entry.Player.Id class="small" />
                <PlayerLink Target="@Entry.Player"></PlayerLink>
            }

            <Label>@SimplifiedText()</Label>
        </row>
    </column>

</root>

@code{

    public Sandbox.Services.Feed Entry;
    string Text;

    protected override void OnParametersSet()
    {
        Text = Entry.Text;

        Text = Text.Replace( "{package}", Entry.Package.Title );
    }

    void OnPressCard()
    {
        Entry.Package?.OpenModal();
    }

    void OnPressLink()
    {
        if ( Entry.Url.StartsWith( "/u" ) )
        {
            var parts = Entry.Url.Split('/', StringSplitOptions.RemoveEmptyEntries);
            if ( parts.Length == 3 )
            {
                Game.Overlay.ShowPlayer(Entry.Player.Id, parts[2]);
                return;
            }
        }

        Entry.Package?.OpenModal();
    }

    string SimplifiedText()
    {
        return Entry.Text.Replace("{package}", $"{Entry.Package.Title}");
    }
}
