@using System;
@using Sandbox.UI;
@using Sandbox;
@using Menu;
@inherits Panel;


<root>

    @if (Entries?.Length > 0)
    {
        var currentTime = DateTimeOffset.Now.AddDays( 1 );

        @foreach (var entry in Entries)
        {
            if ( entry.Timestamp < currentTime.AddDays( -1 ) )
            {
                currentTime = entry.Timestamp;

                <row>
                    @if ( currentTime.Day == DateTimeOffset.Now.Day )
                    {
                        <Label class="eyebrow">
                            Today
                        </Label>
                    }
                    else
                    {
                        <Label class="eyebrow">
                            @($"{currentTime.Humanize()}")
                        </Label>
                    }
                    <separator class="horizontal" />
                </row>
            }

            <FeedRow Entry=@entry></FeedRow>
        }
    }

</root>

@code{
    RealTimeUntil timeUntilRefresh = 0;

    Sandbox.Services.Feed[] Entries;

    async Task Update()
    {
        Entries = await MenuUtility.GetPlayerFeed( 20 );
        StateHasChanged();
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;

        if (timeUntilRefresh > 0)
            return;

        timeUntilRefresh = 60 * 3;
        
        _ = Update();
    }
}
