@inherits Sandbox.UI.Panel
@page "/hub"
@using MenuProject.MenuUI.Components.New
@using MenuProject.MenuUI.Front
@using MenuProject.MenuUI.Front.Feed
@using MenuProject.MenuUI.Layout
@using Sandbox;
@using Sandbox.UI;

<root class="root">
    <Page>

        <Body>

            <div class="blocks">

                <div class="block">

                    <label class="medium">
                        Recommended For You
                    </label>

                    <HorizontalGameList Icon="group" Title="Played by Friends" Query="type:game sort:friends" Limit=@(5) />
                    <HorizontalGameList Icon="history" Title="Jump Back In" Query="type:game sort:used" Limit=@(5) />
                    <HorizontalGameList Icon="favorite" Title="Favourites" Query="type:game sort:favourites" Limit=@(5) />

                    <row>
                        <label class="medium">
                            Friend Activity
                        </label>
                    </row>
                    <PlayerFeed></PlayerFeed>
                </div>

            </div>

        </Body>

        <Left>
            <column style="gap: 12px;">
                <row>
                    <label class="medium">
                        Your Achievements
                    </label>
                </row>
                <AchievementDeck></AchievementDeck>
            </column>
        </Left>
    </Page>


</root>
