@import "/styles/_theme.scss";

.content-block-header
{
    padding: 0 28px;
}

.content-block-header a {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    .chevron {
        font-family: Material Icons;
    }

    &:hover {
        .chevron {
            margin-left: 2px;
        }
    }
}
