@using Sandbox;
@using Sandbox.UI;
@using MenuProject.UI;
@inherits Panel

@if (Group == null) return;

<root class="hero">
    <div class="background"></div>

    <Carousel @Items=@Packages @ref=Carousel>
        <Item Context="item">
            @if (item is Package package)
            {
                @if (package == null) return;
                <ContentBlockHeroItem Package=@package />
            }
        </Item>
    </Carousel>
</root>

@code
{
    [Parameter] public Package.ListResult.Grouping Group { get; set; }
    private List<Package> Packages { get; set; }

    private Carousel Carousel { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        StateHasChanged();
        Packages = Group.Packages.ToList();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Carousel.ActiveItem);
    }
}
