@import "/styles/_Theme.scss";

$background-lg-offset: -64px;

.hero 
{
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: flex-end;
	transition: all 0.3s ease;
    margin-bottom: 16px;
    margin-top: 32px;
}

.background {
	position: absolute;
	top: $background-lg-offset;
	right: $background-lg-offset;
	left: $background-lg-offset;
	bottom: -64px;
	z-index: -1;
	background-position: center top;
	background-size: cover;
	mix-blend-mode: overlay;
	mask: linear-gradient( white, black );
	z-index: -100;
	transition: all 150ms ease;
	background-image: linear-gradient( to bottom, $default-800, transparent );
}

Carousel {
	z-index: 100;
	width: 100%;
}