@import '/styles/_Theme.scss';

PartyDeck
{
	gap: 16px;
	align-items: center;

	.members
	{
		height: 32px;
		gap: 8px;
		justify-content: flex-start;
		align-items: center;

		> .empty-slot
		{
			height: 32px;
			aspect-ratio: 1;
			outline: 1px solid $default-border;
			border-radius: 4px;
			background-color: rgba( black, 0.1 );
			padding: 0;
			justify-content: center;
		}
	}
}